@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 90px;
  margin-left: 488px;

  gap: 32px;

  .cards {
    margin-bottom: 40px;
  }
}
