@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;

  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  // &:hover {
  //   color: $red-hover;
  // }

  // &:focus,
  // &:active {
  //   outline: none;
  //   color: inherit;
  // }
}

img {
  width: 100%;
  height: 100%;
}
