@import '/src/styles/colors';

.logo {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;

  cursor: pointer;

  box-shadow: 0 5px 5px 1px $red;
}
